
.contact-section {
    width: 100vw;
    margin-top: 2.5rem;

    .contact-form {
        margin-top: 2rem;
        width: 40vw;
        margin: 1rem auto;
        text-align: left !important;

        .form-group {
            margin-top: 1.25rem;
        }
    
        Button {
            margin-top: 2rem;
        }

        @media only screen and(max-width: 1350px) {
            width: 80vw;
        }
    }

    
}

