.portfolio-card {
    margin: 2rem;
    text-align: center;
    padding: 2rem 3rem;
    width: 20vw;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0.45rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    // Setting the flex basis
    flex: 0 0 25%;
    hr {
        margin: 1rem auto;
        width: 20%;
    }
    h1 {
        color: rgba(50, 50, 50, 0.7);
        font-weight: 600;
        font-size: 1.75rem;
        position: relative;
    }
    h2 {
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.5);
    }
    p {
        line-height: 1.75rem;
    }
    Button {
        margin-top: 1rem;
    }

    @media only screen and (max-width: 1350px) {
        width: 70vw;
        margin: 3.5rem 0 0;
        h1 {
            font-size: 2rem;
        }
        h2 {
            margin-top: 1rem;
        }

        Button {
            margin-top: 2rem;
        }
    }


}
.portfolio-card:hover {
    transition: 0.55s;
    border-radius: .65rem;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 12px 40px 0 rgb(0 0 0 / 19%);
}